name: Build APK
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Build with Buildozer
        # Resmi Kivy robotunu kullanıyoruz
        uses: kivy/buildozer-action@master 
        with:
          command: buildozer android debug
          buildozer_version: master

      - name: Upload APK
        # En güncel yükleme robotunu kullanıyoruz
        uses: actions/upload-artifact@v4
        with:
          name: HesapMakinesiAPK
          path: bin/*.apk
